.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-content {
  flex: auto;
  display: flex;
}

.App-map {
  flex: 1;
}
.App-map > div {
  height: 100%;
}
.App-map .openlayers-map {
  height: 100%;
}
.App-details {
  flex: 1;
}
